# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies & build output (do not commit)
node_modules/
dist/
dist-ssr/
.npm-cache/
.vercel/

# Local env files
*.local

# Binaries/installers
*.exe

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
